* {
	margin: 0;
	font-family: 'openSans' sans-serif;
}

body {
	background-color: #47D1FF;
}

#header {
	height: 30px;
	background-color: #1F7A99;
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 8.5px;
	padding-top: 8.5px;
}

#header img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

a {
	text-decoration: none;
	color: #248FB2;
}

textarea {
	border-radius: 5px;
	padding: 2px;
	border: 1px solid;
	border-color: #1F7A99;
	background-color: #EBFAFF;
}

#container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#content {
	background-color: #D6F5FF;
	border: 1px solid;
	border-color: #1F7A99;
	margin-top: 10px;
	border-radius: 10px;
	padding: 15px;
}

#content div {
	margin: 7.5px;
	color: #0A2933;
	min-width: 300px;
}